body {
  background: linear-gradient(200deg, #0090ea, #d3d3d3b0, #0090ea);
  font-size: 14px;
  font-family: roboto, segoe ui, Arial, Segoe, dejavu sans, trebuchet ms, Verdana, sans-serif;
}

a {
  color: #ea0065;
}

.main {
  /* font-size: 14px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 450px;
  background: #f1f1f1;
  border-radius: 10px;

  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);

}

.main .frames {
  border-radius: 10px;

}

.cd-form {
  padding: 2em;
  background-color: #f3f3f3;
  max-width: 400px;
  flex-grow: 2;
  padding: 30px 30px 40px;
}

.center {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 20px;

}

.form-line i {
  color: #0090ea;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
  margin-top: 14px;
}

.form-line {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}

.form-input {
  background: transparent;
  outline: 0;
  flex-grow: 1;
  height: 20px;
  padding: 20px 12px;
  border: 0;
  border-bottom: 2px solid silver;

  margin-bottom: -200px;
  margin-top: -2px;
}

.form-input:hover {
  border: 1px solid #0090ea;
}

#eye {
  position: relative;
  top: 5px;
  right: 22px;
}

#eye i {
  padding-right: 0;
  margin-top: 10px;
  cursor: pointer;

}

.form-group.invalid .form-line .form-input {
  border-color: #f33a58;
}

.form-group.valid .form-line .form-input {
  border-color: #32CD32;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 12px;
  line-height: 1.6rem;
  padding: 2px 0 0;
  padding-right: 0;
}

.form-submit {
  margin-top: 20px;
  margin-bottom: 20px;

  padding: 12px 0;
  cursor: pointer;
  background: #0090ea;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border: 0;


}

.form-submit:hover {
  border: 1px solid #ea0065;
}