<div class=" main">

    <form class="cd-form frames" action='' method="POST" id="login">
        <h1 class="center">Đăng nhập tài khoản</h1>

        <div class="form-group">
            <div class="form-line ">
                <i class="far fa-user"></i>
                <input name="username" id="username" type="text" placeholder="Tên đăng nhập" class="form-input">
            </div>
            <span class="form-message"></span>
        </div>
        <div class="form-group">
            <div class="form-line">

                <i class="fas fa-key"></i>
                <input class="form-input" id="password" type="password" name="password" placeholder="Mật khẩu">
                <div id="eye">
                    <i class="far fa-eye" onclick="myFunction('password')"></i>
                </div>
            </div>
            <span class="form-message"></span>
        </div>
        <p><a href="./signup.html">Quên mật khẩu?</a></p>

        <input class="form-submit frames" type="submit" value="Đăng nhập">
        <p style="text-align: center;">Not a member? <a href="./signup.html">Register</a></p>
    </form>
</div>