<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--link enter -->

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/grid.css">

</head>

<body>
  <div class="app">
    {{> header}}

    <div class="container">

      <div class=" main">

        <form class="cd-form frames" action='/auth/signup' method="POST" id="login">
          <h1 class="center">Đăng ký tài khoản</h1>

          <div class="form-group">
            <div class="form-line ">
              <i class="far fa-user"></i>
              <input name="username" id="username" type="text" placeholder="Tên đăng ký" class="form-input">
            </div>
            <span class="form-message" id="submit"></span>
          </div>
          <div class="form-group">
            <div class="form-line">

              <i class="fas fa-key"></i>
              <input class="form-input" id="password" type="password" name="password" placeholder="Mật khẩu">
              <div id="eye">
                <i class="far fa-eye" onclick="myFunction('password')"></i>
              </div>
            </div>
            <span class="form-message" id="submit"></span>
          </div>
          <div class="form-group">
            <div class="form-line">

              <i class="fas fa-key"></i>
              <input class="form-input" id="password_confirmation" type="password" name="password_confirmation"
                placeholder="Nhập Lại Mật khẩu">
              <div id="eye">
                <i class="far fa-eye" onclick="myFunction('password_confirmation')"></i>
              </div>
            </div>
            <span class="form-message" id="submit"></span>
          </div>
          <button type="submit" class="form-submit frames">Đăng Ký</button>
        </form>

      </div>
    </div>
  </div>
  <script src="/js/auth.js"></script>
  <script>
    validator({
      form: '#login',
      errorSelector: '.form-message',
      rules: [
        validator.isRequired('#username'),
        validator.isAccount('#username'),
        validator.isRequired('#password'),
        validator.isPassword('#password'),
        validator.isRequired('#password_confirmation'),

        validator.isConfirmed('#password_confirmation', function () {
          return document.querySelector('#login #password').value
        })
      ],
      onSubmit: function (data) {
        console.log(data)
        // backend xử lý
        let xhr = new XMLHttpRequest();
        let url = "./signup";
        // open a connection
        xhr.open("POST", url, true);
        // Set the request header i.e. which type of content you are sending
        xhr.setRequestHeader("Content-Type", "application/json");
        // Create a state change callback
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {

            // Print received data from server
            result.innerHTML = this.responseText;
          }
        };
        // Sending data with the request
        xhr.send(data);
        xhr.addEventListener('load', function () {
          received_data = JSON.parse(xhr.responseText);
          console.log(received_data)
          //  window.location.assign('http://localhost:5000/')
          if (received_data === "tao tai khoan thanh cong") {
            alert('Đăng Ký thành công')
            window.location.assign('http://localhost:5000/auth/signin')
          }
          else {

            var formElement = document.querySelector('#signin');
            //console.log(formElement)
            var inputElement = formElement.querySelector(".form-message");
            //console.log(inputElement)

            var errorElement =
              inputElement.parentElement.parentElement.querySelector(".form-message");
            inputElement.innerText = received_data["error"];
            inputElement.parentElement.classList.remove("valid");
            inputElement.parentElement.classList.add("invalid");
          }

        })


      }

    })
  </script>

</body>

</html>